<div ng-controller="listaLancamentoCtrl">
     
    <ons-toolbar>
        
            <div  class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">
                  <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Pesquisar" ng-model="search" ng-change="searchLancamento()">
            </div>
          <div class="right">
                <ons-toolbar-button ng-click="modal.show()">
                    <ons-icon icon="filter" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="myNavigator.setActiveTab(1)">
                    <ons-icon icon="plus" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
               </div>
         
        </ons-toolbar>

       <div cg-busy="{promise:searchPromise,message:'Carregando Lancamentos'}"></div>
        
        <ons-scroller  infinit-scroll-enable="true" can-load="true" on-scrolled="populateList()" threshold="20" style="height:100%">
        <ons-list>
         <ons-list-item class="item" ng-repeat="item in _item | filter: {$: search}" >
            
                 <ons-carousel swipeable fullscreen auto-scroll overscrollable var="{{item.idLancamento}}">      
                     <ons-carousel-item>
                        <ons-list>
                            <ons-list-item class="item" modifier="chevron tappable" ng-click="nav.pushPage('lancamento/addLancamento.html', {param1: item.idLancamento})">
                                <ons-row>
                          
                                  <ons-col>
                                    <header>
                                      <span class="item-descricaoLancamento">{{item.descricaoLancamento}}</span>
                                      
                                      <span class="item-tipoStatus">{{item.tipoStatus}}</span>
                                    </header>
                                    
                                    <div class="categoriaLancamento">
                                            <i class="fa fa-map-marker"></i> {{item.categoriaLancamento}}
                                    </div>
                                    
                                    <span class="item-vlrLancamento">Valor: {{ item.vlrLancamento }}</span>
                                  </ons-col>
                                </ons-row>
                            </ons-list-item>
                        </ons-list>
                      </ons-carousel-item>  
                        <ons-carousel-item style="background-color:#ff5050">
                            <ons-list class="item-label">
                                <ons-list-item  modifier="tappable" ng-click="confirm(item.idLancamento)">
                                       
                                    <ons-icon icon="fa fa-trash-o"></ons-icon> Excluir Lancamento
                                             
                                </ons-list-item>
                            </ons-list>
                        </ons-carousel-item>
                    </ons-carousel>
                
      </ons-list-item>
       
            <ons-list-item ng-show="isError">
                
            </ons-list-item>
          
         </ons-list>
    </ons-scroller>
    
    
    <ons-modal var="modal" hidden="true">
   
        
        <form name="filtroForm" novalidate="" ng-submit="filtro(filtroForm)"> 
        
        <ons-list>
            <ons-list-header>Data de Cadastro</ons-list-header>
            <ons-list-item>
                <ons-row>
                    <ons-col>
                        <ons-button 
                            ng-click="getDateDe()">
                            <ons-icon icon="fa-caret-square-o-right" size="30px" fixed-width="true"></ons-icon> De
                        </ons-button>
                    </ons-col>
                    <ons-col>
                        <ons-button 
                            ng-click="getAte()">
                            <ons-icon icon="fa-caret-square-o-right" size="30px" fixed-width="true"></ons-icon> Até
                        </ons-button>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            
            <ons-list-item>
                <ons-row>
                    <ons-col>
                        <input 
                        type="text" 
                        name="dtCadastroDe" 
                        class="text-input--underbar" 
                        placeholder="De" 
                        ng-click="getDateDe()"
                        
                        ng-class="{ 'has-errors' : filtroForm.dtCadastroDe.$invalid, 'no-errors' : filtroForm.dtCadastroDe.$valid}"
                        ng-messages-include="error/error-list.html"
                        
                        ng-model="lancamento.dataCadastroDe" required readonly>
                   
                        <div class="error-container" ng-show="filtroForm.dtCadastroDe.$error" ng-messages="filtroForm.dtCadastroDe.$error" ng-messages-include="error/error-list.html">
                        </div> 
                        
                    <ons-col>
                        <input 
                        type="text" 
                        name="dtCadastroAte" 
                        class="text-input--underbar" 
                        placeholder="Até" 
                        ng-click="getDateAte()" 
                        ng-class="{ 'has-errors' : filtroForm.dtCadastroAte.$invalid, 'no-errors' : filtroForm.dtCadastroAte.$valid}"
                        ng-messages-include="error/error-list.html"
                       
                        ng-model="lancamento.dataCadastroAte" required readonly>
                   
                        <div class="error-container" ng-show="filtroForm.dtCadastroAte.$error" ng-messages="filtroForm.dtCadastroAte.$error" ng-messages-include="error/error-list.html">
                        </div> 
                    </ons-col>
                </ons-row>
            
            </ons-list-item>
                     
        </ons-list>
          
          <button class="button button--large--cta" 
                type="submit" 
                cg-busy="{promise:changePromise,message:'Aplicando...', backdrop:false, templateUrl:'loading.html'}">Aplicar Filtro</button>
   
        </form>
    
    </ons-modal>
</div>

<style>
    
   
.item-label {
  
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 25px;
  font-weight: bold;
  
}
    
</style>